extends ./layout

mixin endpoint(method, path)
  .api-endpoint
    .api-endpoint-method= method
    .api-endpoint-path #{API_PATH}#{path}

block body
  h1 Artsy Writer API
  p A JSON + HTTP API for Artsy posts. Explore any of the endpoints below. You
    | may also add .html to any root endpoint to look at it's documentation. e.g.
    a( href="#{API_URL}/posts.html" ) #{API_PATH}/posts.html.
  h3
    a( href="#{API_URL}/posts.html" ) Posts
    +endpoint('GET', '/posts')
    +endpoint('GET', '/posts/:id')
    +endpoint('POST', '/posts')
    +endpoint('PUT', '/posts/:id')
    +endpoint('DELETE', '/posts/:id')
  h3
    a( href="#{API_URL}/users.html" ) Users
    +endpoint('GET', '/users/:id')
    +endpoint('DELETE', '/users/:id')